<form id="themHopdong" method="post" action="/api/luuHopdong">
<div class="container mt-4">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="form6Example1">Tên khách thuê</label>
          <input list="guestNames" name="tenantId" id="form6Example1" class="form-control" />
          <datalist id="guestNames">
            {{#each}}
           <option value=""></option>
          </datalist>
        <button id="addGuest" type="button" class="btn btn-secondary btn-block mb-4">Thêm khách</button>
        </div>
        <div id="guestList"></div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example4">Chọn phòng</label>
          <select id="form6Example4" name="roomId" class="form-control">
            <option value=""selected>Chọn phòng</option>
            <option value="Phòng 1">Phòng 1</option>
            <option value="Phòng 2">Phòng 2</option>
            <!-- Other options -->
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example5">Giá phòng</label>
          <input type="number" name="roomPrice" id="form6Example5" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <!-- Date input for Start Date -->
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="startDate">Ngày bắt đầu</label>
          <input type="date" name="startDate" class="form-control" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="endDate">Ngày kết thúc</label>
          <input type="date" name="endDate" id="endDate" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example6">Giá điện</label>
          <input type="number" name="electricPrice" id="form6Example7" class="form-control" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example7">Giá nước</label>
          <input type="number" name="waterPrice" id="form6Example8" class="form-control" />
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example8">Tiền cọc</label>
      <input type="number" name="deposit" id="form6Example9" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Tạo hợp đồng</button>
</div>
  </form>