<div class="container mt-4">
  <form>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="form6Example1">Tên khách thuê</label>
          <input list="guestNames" id="form6Example1" class="form-control" />
          <datalist name="tenantId" id="guestNames">
            <option value="Nguyễn Văn A">
            <option value="Trần Thị B">
            <option value="Lê Văn C">
          </datalist>
        <button id="addGuest" type="button" class="btn btn-secondary btn-block mb-4">Thêm khách</button>
        </div>
        <div id="guestList"></div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example4">Chọn phòng</label>
          <select id="form6Example4" class="form-control">
            <option value="" selected>Chọn phòng</option>
            <option value="Phòng 1">Phòng 1</option>
            <option value="Phòng 2">Phòng 2</option>
            <!-- Other options -->
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example5">Giá phòng</label>
          <input type="number" id="form6Example5" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <!-- Date input for Start Date -->
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="startDate">Ngày bắt đầu</label>
          <input type="date" id="startDate" class="form-control" />
        </div>
      </div>

      <!-- Date input for End Date -->
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="endDate">Ngày kết thúc</label>
          <input type="date" id="endDate" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example6">Giá điện</label>
          <input type="number" id="form6Example7" class="form-control" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example7">Giá nước</label>
          <input type="number" id="form6Example8" class="form-control" />
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example8">Tiền cọc</label>
      <input type="number" id="form6Example9" class="form-control" />
    </div>

    <button type="button" class="btn btn-primary btn-block mb-4">Tạo hợp đồng</button>
  </form>
</div>