<div class="container text-center">
  <h1 class="mt-3">Quản lý khách thuê trọ</h1>
  <button class="btn btn-primary mt-2 float-end"><i class="bi bi-plus-lg">
    </i>Thêm thành viên</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Phòng</th>
        <th scope="col">Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Nguyễn Văn A</td>
        <td>0123456789</td>
        <td>101</td>
        <td>
          <button type="button" class="btn btn-success"><i
              class="bi bi-wrench"
            ></i></button>
          <button type="button" class="btn btn-danger"><i
              class="bi bi-trash-fill"
            ></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>