<div class="container text-center">
  <h1 class="mt-3" style="color: brown; text-transform: uppercase;">Quản lý
    khách thuê trọ</h1>
  <button class="btn btn-primary my-2 float-end"><i class="bi bi-plus-lg">
    </i>Thêm khách thuê</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">CCCD</th>
        <th scope="col">Phòng</th>
        <th scope="col">Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Nguyễn Văn A</td>
        <td>Nam</td>
        <td>0123456789</td>
        <td>0913014773</td>
        <td>101</td>
        <td>
          <button
            type="button"
            title="Xem thông tin chi tiết"
            class="btn btn-outline-dark me-1"
          ><i class="bi bi-eye-fill"></i></button>
          <button
            type="button"
            title="Sửa thông tin"
            class="btn btn-success me-1"
          ><i class="bi bi-wrench"></i></button>
          <button type="button" title="Xóa" class="btn btn-danger me-1"><i
              class="bi bi-trash-fill"
            ></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>