<div class="container mt-4"><table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Phòng</th>
        <th scope="col">Giá</th>
        <th scope="col">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      {{#each hopdong}}
        <tr>
          <th scope="row">1</th>
          <td>{{this.roomId.roomNumber}}</td>
          <td>{{this.roomPrice}}</td>
          <td>{{toLocaleString this.startDate}}</td>
          <td>{{toLocaleString this.endDate}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>