<div class="container-xxl ps-4 mt-4">
  <h4 class="mb-3" style="color: brown; text-transform: uppercase;">Thêm khách
    thuê</h4>
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Thông tin khách thuê</div>
        <div class="card-body">
          <form action="/api/themKhachThue" method="post">
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (fullname)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName">Họ tên
                  <span class="text-danger">*</span></label>
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Nhập họ tên"
                  value=""
                  name="name"
                />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Địa chỉ thường trú</label>
                <input
                  class="form-control"
                  id="inputLocation"
                  type="text"
                  placeholder="Nhập địa chỉ thường trú"
                  value=""
                  name="address"
                />
              </div>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (email)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputEmailAddress">Email</label>
                <input
                  class="form-control"
                  id="inputEmailAddress"
                  type="email"
                  placeholder="Nhập địa chỉ email"
                  value=""
                  name="email"
                />
              </div>
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                <input
                  class="form-control"
                  id="inputPhone"
                  type="tel"
                  placeholder="Nhập số điện thoại"
                  value=""
                  name="phone"
                />
              </div>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (gender)-->
              <div class="col-md-6">
                <label class="small mb-1" for="selectGioiTinh">Giới tính</label>
                <select
                  class="form-select"
                  id="selectGioiTinh"
                  name="gender"
                  aria-label="Default select example"
                >
                  <option selected>Chọn giới tính</option>
                  <option value="0">Nam</option>
                  <option value="1">Nữ</option>
                </select>
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Ngày sinh</label>
                <input
                  class="form-control"
                  id="inputBirthday"
                  type="date"
                  name="dayOfBirth"
                  value=""
                />
              </div>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (IDC)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputCCCD">CCCD
                  <span class="text-danger">*</span></label>
                <input
                  class="form-control"
                  id="inputCCCD"
                  type="text"
                  placeholder="Nhập số CCCD"
                  value=""
                  name="cccdNumber"
                />
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputdateIDC">Ngày cấp</label>
                <input
                  class="form-control"
                  id="inputdateIDC"
                  type="date"
                  value=""
                  name="cccdDate"
                />
              </div>
            </div>

            <!-- changes button-->
            <div class="mt-4">
              <button class="btn btn-secondary" type="button">Hủy</button>
              <button class="btn btn-primary" type="submit">Lưu</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>