<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Quản lý phòng trọ</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" aria-current="page" href="/admin/room">Quản Lý Phòng</a>
        <a
          class="nav-link"
          aria-current="page"
          href="/admin/quanlykhachthue"
        >Quản Lý Khách</a>
        <a class="nav-link" aria-current="page" href="/admin/showTienNghi">Tiện
          Nghi</a>
        <a class="nav-link" aria-current="page" href="/admin/showhopdong">Hợp
          đồng</a>
        <a class="nav-link" aria-current="page" href="/admin/chotThang">Chốt
          tháng</a>
        <a class="nav-link" aria-current="page" href="/admin/thanhToan">Thanh
          toán</a>
        <a class="nav-link" aria-current="page" href="/admin/infoHostel">Thông
          Tin Trọ</a>
      </div>
    </div>
  </div>
</nav>