<style>
  .welcome{ display: flex; justify-content: center; align-items: center; height:
  90vh; text-align: center; flex-direction: column;}
</style>
<div class="welcome">
  <h1>Chào mừng đến với website quản lý phòng trọ</h1>
  <p>Xin chào! Đây là trang chủ của trang web quản lý phòng trọ.</p>
</div>