<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-4">
                <li class="nav-item">
                    <h5 class="nav-link active">Liên Hệ Với Chúng Tôi :</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link active h5 text-primary" aria-current="page" href="tel:+84354514832"> Phone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active h5 text-primary" aria-current="page" href="mailto:camdaica1609@gmail.com">
                        Email</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center mt-5">
    <div style="height: 500px; width: 1250px;" id="carouselExampleControls" class="carousel slide"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height: 500px;"
                    src="https://i-connect.com.vn/data/news/7046/anh-14-mau-phong-tro-thiet-ke-hien-dai.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="height: 500px;" src="https://i-connect.com.vn/data/news/7046/anh-2-phong-tro-rong.jpg"
                    class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
                <img style="height: 500px;"
                    src="https://spacet-release.s3.ap-southeast-1.amazonaws.com/img/blog/2023-10-04/651cda61c9649b0ef5c6f212.webp"
                    class="d-block w-100 " alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container d-flex justify-content-center my-5">
    <div style="width: 1250px;" class="row">
        <div class="col-6">
            <img src="https://imperiaskygardens.com/wp-content/uploads/2023/01/unnamed-3.jpg" alt="">
        </div>
        <div class="col-6">
            <h4>Mô hình kinh doanh nhà trọ giá rẻ cho người thu nhập thấp</h4>
            <p>
                Với mô hình hình kinh doanh nhà trọ giá rẻ, khách hàng của bạn sẽ phổ biến là người lao động tự do, công
                nhân, sinh
                viên,… những người có mức thu nhập thấp. Ưu điểm của mô hình này này bạn sẽ không cần phải bỏ nhiều chi
                phí đầu tư cơ sở
                vật chất, khách hàng cũng tương đối đông đảo. Ngược lại, bạn sẽ gặp rủi ro về an ninh và cần chú ý nhiều
                hơn đến vấn đề
                giữ gìn trật tự trị an.

                Nếu xác định phân khúc khách hàng là người thu nhập thấp thì vị trí xây dựng phòng trọ cần phải gần các
                khu công nghiệp,
                trường đại học, không cần thiết gần khu vực trung tâm.

                Thông thường mức giá trung bình của nhà trọ giá rẻ sẽ dao động từ 1 triệu cho đến 3 triệu đồng với diện
                tích từ 10 –
                25m2. Mức giá này có thể thay đổi tùy theo vị trí địa lý hay nội thất bên trong. Với mô hình này bạn cần
                quan tâm đến
                thủ tục đăng ký kinh doanh nhà trọ cần phải có.
            </p>
        </div>
        <div class="col-6 mt-5">
            <h1 class="mt-5">Liên Hệ Với Chúng Tôi</h1>
            <a class="nav-link active h5 text-primary" aria-current="page" href="tel:+84354514832"> Phone:</a>
            <a class="nav-link active h5 text-primary" aria-current="page" href="tel:+84354514832"> +84354514832</a>
            <a class="nav-link active h5 text-primary" aria-current="page" href="mailto:camdaica1609@gmail.com">
                Email</a>
                <a class="nav-link active h5 text-primary" aria-current="page" href="mailto:camdaica1609@gmail.com">
                    camdaica1609@gmail.com</a>
        </div>
        <div class="col-6 mt-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.6384295762946!2d105.76524067450909!3d10.046665472231068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0880f08006ffb%3A0x9a745510330faf4e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBL4bu5IHRodeG6rXQgLSBDw7RuZyBuZ2jhu4cgQ-G6p24gVGjGoQ!5e0!3m2!1svi!2s!4v1717052378332!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>
<footer class="footer mt-auto py-3 bg-light mt-5">
    <div class="container d-flex justify-content-between">
        <a class=" active h5 text-primary" aria-current="page" href="tel:+84354514832"> Phone:</a>
        <a class=" active h5 text-primary" aria-current="page" href="tel:+84354514832"> +84354514832</a>
        <a class=" active h5 text-primary" aria-current="page" href="mailto:camdaica1609@gmail.com">
            Email</a>
        <a class=" active h5 text-primary" aria-current="page" href="mailto:camdaica1609@gmail.com">
            camdaica1609@gmail.com</a>
    </div>
</footer>