<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      p {
        margin: 10px 0 0;
      }
      hr {
        margin: 10px 0 0;
      }
      h3 {
        margin: 10px 0 0;
      }
      span ~ span {
        margin-left: 70px;
      }
    </style>
  </head>
  <body>
    <h2 style="text-align: center">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
    <h3 style="text-align: center">Độc lập - Tự do - Hạnh phúc</h3>
    <h2 style="text-align: center">HỢP ĐỒNG THUÊ PHÒNG TRỌ</h2>
    <h3>Chúng tôi gồm:</h3>
    <p>1. Đại diện bên cho thuê phòng trọ (Bên A):</p>
    <p>
      <span>Ông/bà: {{renter.name}}</span
      ><span>Sinh ngày: {{renter.birthday}}</span>
    </p>
    <p>
      <span>CMND/CCCD số: {{renter.idCard}}</span>
      <span>Ngày cấp: {{renter.idCardDate}}</span>
    </p>
    <p>Số điện thoại: {{renter.phone}}</p>
    <p>2. Bên thuê phòng trọ (Bên B):</p>
    <p>
      <span>Ông/bà: {{tenant.name}}</span>
      <span>Sinh ngày: {{tenant.birthday}}</span>
    </p>
    <p><span>CMND/CCCD số: {{tenant.idCard}}</span></p>
    <p>Số điện thoại: {{tenant.phone}}</p>
    <p>
      Sau khi bàn bạc trên tinh thần dân chủ, hai bên cùng có lợi, cùng thống
      nhất như sau:
    </p>
    <p>Bên A đồng ý cho bên B thuê 01 phòng: {{room.roomNumber}}</p>
    <p>Giá thuê: {{contract.roomPrice}} đ/tháng</p>
    <p>
      <span>Chỉ số công tơ điện lúc thuê: {{contract.oldElectric}}</span>
      <span>Chỉ số công tơ nước lúc thuê: {{contract.oldWater}}</span>
    </p>
    <p>
      <span>Tiền điện: {{contract.electricPrice}} đ/kwh</span
      ><span>Tiền nước: {{contract.waterPrice}} đ/m3</span>
    </p>
    <p>Tiền đặt cọc: {{contract.deposit}} đồng</p>
    <p>
      Hợp đồng có giá trị kể từ ngày: {{contract.startDate}} đến ngày
      {{contract.endDate}}
    </p>
    <h3>TRÁCH NHIỆM CỦA CÁC BÊN</h3>
    <p>* Trách nhiệm của bên A:</p>
    <p>- Tạo mọi điều kiện thuận lợi cho bên B thực hiện theo hợp đồng</p>
    <p>- Cung cấp nguồn điện, nước cho bên B sử dụng</p>
    <p>* Trách nhiệm của bên B:</p>
    <p>- Thanh toán đầy đủ các khoản tiền theo đúng yêu cầu</p>
    <p>
      Bảo quản các trang thiết bị và cơ sở vật chất của bên A trang bị cho ban
      đầu (làm hỏng phải sửa, mất phải đền)
    </p>
    <p>
      - Không được tự ý sửa chữa, cải tạo cơ sở vật chất khi chưa được sự đồng ý
      của bên A
    </p>
    <p>
      - Giữ gìn vệ sinh trong và ngoài phòng trọ, không gây mất trật tự, an ninh
      trật tự
    </p>
    <p>
      Bên B phải chấp hành mọi quy định của pháp luật Nhà nước và quy định của
      địa phương.
    </p>
    <p>
      - Nếu bên B cho khách ở qua đêm thì phải báo và được sự đồng ý của chủ nhà
      đồng thời phải chịu trách nhiệm về các hành vi vi phạm pháp luật của khách
      trong thời gian ở lại.
    </p>

    <div style="margin: 8px 15%">
      <h3 class="left">ĐẠI DIỆN BÊN B</h3>
      <h3 class="right">ĐẠI DIỆN BÊN A</h3>
      <div style="clear: both"></div>
    </div>
  </body>
</html>
